.footer {
    background: #343a40;
    padding: 1.875rem 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    gap: .9375rem;
    color: #E5E5E5;
    line-height: 128.571429%; /* 18/14 */
}
.footer__text {
    text-transform: uppercase;
    font-weight: 700;
}
.footer__up {
}
.footer__up:hover {
    text-decoration: underline;
}